<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
</head>
<body>
	<p>Agrobase</p>
	<h1>Consulte aqui os produtos cadastrados no site</h1>
	<a href="/produtos">Buscar Produtos</a>
	<br>
	<a href="/formulario_inclusao_produtos">Cadastrar Produtos</a>
</body>
</html>